{% extends "base.html" %}

{% block title %}Discover Blogs - Bear Blog{% endblock %}

{% block content %}
<h1>Discover Blogs</h1>

{% if blogs %}
    <ul class="blog-list">
    {% for blog in blogs %}
        <li>
            <h2><a href="{% url 'blog_detail' blog.subdomain %}">{{ blog.title }}</a></h2>
            <p>{{ blog.description|truncatewords:30 }}</p>
            <p class="meta">by {{ blog.owner.username }} • {{ blog.posts.count }} post{{ blog.posts.count|pluralize }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No blogs have been created yet. Check back soon!</p>
{% endif %}
{% endblock %}